.Booking {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;

  // width: 25rem;
  width: 100%;
  border: 0.0625rem solid var(--color-yellow);
  border-radius: 0.625rem;
  padding: 1.25rem;
  margin-top: 1.875rem;
  line h1 {
    font-size: 1.625rem;
  }

  .containerImage {
    position: relative;
  }

  img {
    width: 100%;
    max-height: 18.75rem;
    border-radius: 0.625rem;
    object-fit: cover;
  }

  .heartIcon {
    position: absolute;
    top: 0.625rem;
    right: 1rem;
    cursor: pointer;
  }

  .containerRight {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    color: var(--color-white2);
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.25rem;
    color: var(--color-yellow);
  }
  .bold {
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--color-yellow);
  }
}

@media only screen and (min-width: 48rem) {
  .Booking {
    width: 48.75rem;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.875rem;

    img {
      width: 31.25rem;
    }
  }
}
