.cardBox {
  position: relative;
  max-width: 450px;
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  padding: 20px 40px 0px 40px;
  color: white;
  cursor: pointer;
  overflow: hidden;

  .cardBoxImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .boxIconTop {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .boxText {
    position: relative;
    background-color: aquamarine;
    color: black;
    margin-top: 50px;
  }
}
