.box {
  background-color: red;
  width: 600px;
  min-height: 300px;
  border-radius: 20px;
  padding: 20px 40px 0px 40px;
  color: white;
  cursor: pointer;

  .boxIconTop {
    display: flex;
    justify-content: space-between;
  }

  .boxText {
    background-color: white;
    color: black;
    margin-top: 50px;
  }
}
