.cardBox {
  position: relative;
  max-width: 28.125rem;
  width: 100%;
  min-height: 17.5rem;
  border-radius: 1.25rem;
  padding: 1.25rem 2.5rem 0rem 2.5rem;
  color: var(--color-white);
  overflow: hidden;

  .cardBoxImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .boxIconTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .boxText {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8.125rem;
    width: 100%;
    background: rgba(224, 215, 215, 0.363);
    -webkit-backdrop-filter: blur(0.625rem);
    backdrop-filter: blur(0.625rem);
    color: var(--color-blue2);
    padding-right: 2.5rem;
    padding-top: 0.625rem;

    h4 {
      font-size: 1.125rem;
    }

    p {
      font-size: 1rem;
      font-weight: bold;
    }

    .containerCity {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .iconCity {
      color: var(--color-orange);
    }

    .city {
      color: var(--color-white);
    }
  }
}

@media screen and (min-width: 48rem) {
  .cardBox {
    max-width: 34.375rem;
    max-height: 20rem;
  }
}
