.AboutUs {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-orange);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 1.875rem;
  padding-bottom: 6.25rem;
  color: var(--color-black);

  h1,
  h2 {
    color: var(--color-blue2);
    padding-top: 0.625rem;
  }

  a {
    color: var(--color-blue2);
  }
}

.textOne,
.textTwo {
  width: 21.875rem;
  line-height: 1.4;
  font-size: 1.0313rem;
  font-weight: 450;
}
.values {
  color: var(--color-blue2);
}

@media screen and (min-width: 48rem) {
  .textOne,
  .textTwo {
    width: 43.75rem;
    line-height: 1.4;
    font-size: 1.0313rem;
    font-weight: 450;
  }
}
