.ExperienceDetail {
  width: 100%;
  height: 100%;
}

.containerSlider {
  position: relative;
  img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
}

.containerIconHeart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 8%;
  right: 8%;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

// ---MAIN ---

.mainExperienceDetail {
  padding: 20px 30px;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.city {
  display: flex;
  align-items: center;
  gap: 8px;
}

// ---ORGANIZ SECTION---

.containerOrganiz {
  order: 4;
  width: 100%;
  display: flex;
  gap: 20px;
  padding-top: 20px;
  align-items: center;
}
.organizPicture {
  width: 100px;

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

// ---DESCRIPTION----

.boxPicture {
  display: none;
}

.infoDescription {
  padding-top: 20px;
}

.infoPriceStarsDesk {
  display: none;
}

.experienceBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(29, 29, 61);
  color: rgb(243, 239, 239);
  border: none;
  border-radius: 10px;
}

.suggestion {
  padding-bottom: 40px;
}

.footer {
  display: none;
}

@media screen and (min-width: 768px) {
  .containerSlider {
    display: none;
  }

  .navExperienceDetail {
    background-color: rgb(48, 22, 22);
    height: 20vh;
  }

  .containerDesk {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(25, 31, 25);
  }

  .info {
    flex-direction: row;
    align-items: center;
  }

  .infoPriceStars {
    display: none;
  }

  .infoPriceStarsDesk {
    display: block;
    font-weight: bold;
    padding-top: 20px;
  }

  .containerOrganiz {
    display: flex;
    align-items: center;
    width: auto;
  }

  // ---PIC AND DESCRIPTION---
  .picAndDescription {
    padding-top: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
  }

  .infoDescription {
    width: 40vw;
    padding: 0;

    h2 {
      padding-bottom: 20px;
    }
  }

  .experienceBtn {
    margin-top: 40px;
  }

  .boxPicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .mainPic img {
      width: 55vw;
      height: 70vh;
      object-fit: cover;
      border-radius: 20px;
    }

    .iconHeartDesk {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 20px;
      right: 40px;
      cursor: pointer;
      background-color: white;
      padding: 10px;
      border-radius: 50%;
      border: none;
    }
  }

  .containerPicBottom {
    display: flex;
    width: 55vw;
    gap: 20px;

    .picBottom img {
      width: 17vw;
      height: 24vh;
      border-radius: 20px;
    }
  }

  .footer {
    display: block;
    background-color: rgb(43, 43, 109);
    height: 24vh;
  }
}
