.Experiences {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.navExperiences {
  height: 80vh;
  background-color: var(--color-blue2);
  color: var(--color-orange);
}

.textNav {
  padding-top: 4.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding: .625rem;
    width: 25rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }
}

.containerTextAndSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.search {
  padding-bottom: .625rem;
}

.mainExperiences {
  min-height: 50vh;
  background-color: var(--color-blue2);
  padding: 5rem 1.25rem;
}

@media screen and (min-width: 48rem) {
  .navExperiences {
    height: 90vh;
  }

  .textNav {
    padding-top: 1.25rem;
    h1 {
      width: 600px;
      line-height: 1.5;
    }
  }

  .mainExperiences {
    min-height: 80vh;
    flex-shrink: 1;
    padding-top: 6.25rem;
  }
}
