.Favorites {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.navFavorites {
  background-color: var(--color-blue2);
  color: var(--color-orange);
  height: auto;
}

.textNav {
  padding-top: 4.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 0.625rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }
}

.mainFavorites {
  min-height: 50vh;
  padding: 3.125rem 0.75rem 11.25rem 0.75rem;
  background-color: var(--color-blue2);
}

.noFavorites {
  color: var(--color-orange);
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .textNav {
    padding-top: 1.25rem;
    h1 {
      width: 37.5rem;
      line-height: 1.5;
    }
  }

  .mainFavorites {
    padding-top: 80px;
    min-height: 80vh;
    padding-bottom: 17.5rem;
  }
}
