.Profile {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-blue2);
}

.infoProfile {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--color-white2);

  .backTheme {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url("/backTheme2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 1.25rem 1.25rem;
    width: 100%;
    height: 45vh;
  }

  img {
    position: absolute;
    bottom: -6.25rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.25rem solid var(--color-blue2);
  }

  h2 {
    font-size: 1.125rem;
    padding-bottom: 0.375rem;
    color: var(--color-yellow);
  }
}

//SESSION

.containerInfo {
  padding: 0.625rem;
  border: 0.0625rem solid var(--color-white2);
  border-radius: 0.5rem;
}

.sessionContainer {
  display: flex;
  padding-top: 6.875rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.btnMenu {
  background-color: var(--color-yellow);
  border: none;
  padding: 0.625rem 1.5rem;
  color: var(--color-black);
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}
.textName {
  color: var(--color-yellow);
}

//info NAME ecc.

.labelInfo {
  font-weight: bold;
  color: var(--color-white);
  padding-right: 0.625rem;
}

.username,
.email {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}

.infoName {
  text-align: center;
}

.title {
  color: var(--color-orange);
  font-size: 1.25rem;
  padding-top: 1.875rem;
  text-align: center;
}

.bookings {
  padding-bottom: 8.75rem;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (min-width: 48rem) {
  .nav {
    background-color: var(--color-blue2);
  }

  .containerInfo {
    margin-top: 6.25rem;
    padding: 3.125rem;
    margin-bottom: 1.25rem;
    height: 30vh;
  }

  .title {
    padding: 0rem 7.5rem 2.5rem 7.5rem;
    color: var(--color-orange);
  }
  .bookings {
    padding-bottom: 8.75rem;
  }

  .session {
    display: none;
  }
}
.bookingList {
  display: flex;
  justify-content: center;
  color: var(--color-white);
}
