.SignUpForm {
  position: relative;
  max-width: 25rem;
  max-height: 70%;
  margin: 0 auto;
  padding: 2.5rem;
  border-radius: .3125rem;
  background-color: var(--color-blue2);

  label {
    margin-bottom: .3125rem;
    color: var(--color-white);
    font-size: 1rem;
  }

  .required {
    color: var(--color-orange);
    font-size: .875rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: .5rem;
    margin-bottom: .625rem;
    border: none;
    border-radius: .1875rem;
    box-sizing: border-box;
    font-size: 1rem;
  }

  .btnSubmit {
    padding: .625rem;
    margin-top: .625rem;
    margin: auto 0;
    width: 100%;
    border: none;
    border-radius: .1875rem;
    background-color: var(--color-yellow);
    color: var(--color-blue2);
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: var(--color-orange);
  }

  .closeBtn {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -0.625rem;
    padding: .25rem;
    right: .625rem;
    cursor: pointer;
  }
}
