.SignUpForm {
  position: relative;
  max-width: 400px;
  max-height: 70%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 5px;
  background-color: var(--color-blue2);

  label {
    margin-bottom: 5px;
    color: var(--color-white);
    font-size: 16px;
    // font-weight: bold;
  }

  .required {
    color: var(--color-orange);
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .btnSubmit {
    padding: 10px;
    margin-top: 10px;
    margin: auto 0;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: var(--color-yellow);
    color: var(--color-blue2);
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: var(--color-orange);
  }

  .closeBtn {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -10px;
    padding: 4px;
    right: 10px;
    cursor: pointer;
  }
}
