.Footer {
  display: none;
}

@media screen and (min-width: 48rem) {
  // --FOOTER--
  .Footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: var(--color-blue);
    background-color: var(--color-orange);
    padding: 1.875rem;
    a {
      color: var(--color-white);
    }

    a:hover {
      color: var(--color-black);
    }
  }

  .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22.5rem;
    gap: 0.875rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;

    h3 {
      font-size: 1rem;
    }
  }

  .logoImage {
    width: 5rem;
    height: auto;
    object-fit: contain;
  }
}

.rightSection {
  text-align: center;
  p {
    font-weight: bold;
  }
}

.containerContributors {
  padding-top: 1.25rem;
  display: flex;
  justify-content: center;
  gap: 1.75rem;
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
